/* =======Підключення шрифтів вручну======= */
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");




/* ==============Основні Стилі============== */


/* ====================================== */
header {
	margin: 0 auto;
}

.open-boxs {
	padding: 50px 0px 21px 0px;
	display: flex;
	justify-content: center;
}

.open-boxs>*:not(:last-child) {
	padding-right: 5px;
}

.box-menu {
	display: flex;
	padding: 20px;
}

/* -- */
.open-box1 {
	padding: 20px;
	font-size: 30px;
	background-color: rgb(216, 150, 255);
	color: rgb(255, 255, 255);
	border-radius: 20px;
}

.block1:target {
	width: 100%;
	background-color: rgb(216, 150, 255);
	/* тепер цей бокс cховаємо: */
	visibility: hidden;
}

.block1:target {
	visibility: visible;
}

.content {
	/* обращаемся сразу ко всем 3 контентам в блоках */
	width: 450px;
	margin: 0 auto;
	padding: 20px 0px;
}

.block1 p {
	max-width: 450px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 130%;
	padding: 20px 0px;
	margin: 0 auto;
}

.block1 img {
	width: 250px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

/* -- */
.open-box2 {
	padding: 20px;
	font-size: 30px;
	background-color: rgb(150, 187, 255);
	color: rgb(255, 255, 255);
	border-radius: 20px;
}

.block2:target {
	width: 100%;
	background-color: rgb(150, 187, 255);
	/* тепер цей бокс cховаємо: */
	visibility: hidden;

}

.block2:target {
	visibility: visible;
}

.block2 p {
	max-width: 450px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 130%;
	padding: 20px 0px;
	margin: 0 auto;
}

.block2 img {
	width: 300px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

/* -- */
.open-box3 {
	padding: 20px;
	font-size: 30px;
	background-color: rgb(150, 234, 255);
	border-radius: 20px;
	color: rgb(255, 255, 255);
}

.block3:target {
	width: 100%;
	background-color: rgb(150, 234, 255);
	/* тепер цей бокс cховаємо: */
	visibility: hidden;
}

.block3:target {
	visibility: visible;
}

.block3 p {
	max-width: 450px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 20px 0px;
	line-height: 130%;
	margin: 0 auto;
}

.block3 img {
	width: 250px;
	height: 200px;
	display: block;
	margin: 0 auto;
}


/* ============================page-a================================ */
.page-a {
	padding: 80px 10px 80px 10px;
	max-width: 692px;
	margin: 0 auto;
}

.page-a-text h2 {
	color: #37393F;
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 600;
	line-height: 127%;
	/* 38.1px */
	margin-bottom: 19px;
}

.page-a-text p {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 146.187%;
	/* 26.314px */
	margin-bottom: 21px;
}

.page-a-text-two h2 {
	color: #6B77E5;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 600;
	line-height: 127%;
	/* 25.4px */
	margin-bottom: 12px;
}

.page-a-text-two p {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 146.187%;
	/* 26.314px */
	margin-bottom: 40px;
}


/* -- */
.page-a-img-text {
	width: 692px;
	font-size: 0px;
	margin: 0 auto;
	/* прибираємо відступ між блоками */
	display: inline-block;
	margin-bottom: 50px;
}

.page-a-left {
	max-width: 331px;
	display: inline-block;
	vertical-align: top;
	margin-right: 29px;
	height: 265px;
}

.page-a-right {
	max-width: 332px;
	display: inline-block;
}

.page-a-right h2 {
	color: #37393F;
	font-family: 'Poppins';
	font-size: 25px;
	font-weight: 600;
	line-height: 127%;
	/* 31.75px */
	margin-bottom: 15px;
}

.page-a-right h3 {
	width: 332px;
	color: #40DDB6;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 600;
	line-height: 127%;
	/* 25.4px */
	margin-bottom: 21px;
}

.page-a-right-mark p::before {
	content: "";
	display: block;
	background: url(img-2/marker01.png);
	background-repeat: no-repeat;
	width: 29px;
	height: 28px;
	display: inline-block;
	vertical-align: top;
	padding-left: 35px;
}

.mark-p {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
}

.page-a-right-mark *:not(:last-child) {
	margin-bottom: 30px;
}

/* -- */
.page-a-down h2 {
	color: #37393F;
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 600;
	line-height: 127%;
	/* 38.1px */
	margin-bottom: 4px;
}

.page-a-down P {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 146.187%;
	/* 26.314px */
	margin-bottom: 45px;
}