/* =======Підключення шрифтів вручну======= */
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");




/* ==============Основні Стилі============== */



/* ============================page-a================================ */
.page-a {
	padding: 80px 10px 80px 10px;
	max-width: 692px;
	margin: 0 auto;
}

.page-a-text h2 {
	color: #37393F;
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 600;
	line-height: 127%;
	/* 38.1px */
	margin-bottom: 19px;
}

.page-a-text p {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 146.187%;
	/* 26.314px */
	margin-bottom: 21px;
}

.page-a-text-two h2 {
	color: #6B77E5;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 600;
	line-height: 127%;
	/* 25.4px */
	margin-bottom: 12px;
}

.page-a-text-two p {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 146.187%;
	/* 26.314px */
	margin-bottom: 40px;
}


/* -- */
.page-a-img-text {
	width: 692px;
	font-size: 0px;
	margin: 0 auto;
	/* прибираємо відступ між блоками */
	display: inline-block;
	margin-bottom: 50px;
}

.page-a-left {
	max-width: 331px;
	display: inline-block;
	vertical-align: top;
	margin-right: 29px;
	height: 265px;
}

.page-a-right {
	max-width: 332px;
	display: inline-block;
}

.page-a-right h2 {
	color: #37393F;
	font-family: 'Poppins';
	font-size: 25px;
	font-weight: 600;
	line-height: 127%;
	/* 31.75px */
	margin-bottom: 15px;
}

.page-a-right h3 {
	width: 332px;
	color: #40DDB6;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 600;
	line-height: 127%;
	/* 25.4px */
	margin-bottom: 21px;
}

.page-a-right-mark p::before {
	content: "";
	display: block;
	background: url(img-2/marker01.png);
	background-repeat: no-repeat;
	width: 29px;
	height: 28px;
	display: inline-block;
	vertical-align: top;
	padding-left: 35px;
}

.mark-p {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
}

.page-a-right-mark *:not(:last-child) {
	margin-bottom: 30px;
}

/* -- */
.page-a-down h2 {
	color: #37393F;
	font-family: 'Poppins';
	font-size: 30px;
	font-weight: 600;
	line-height: 127%;
	/* 38.1px */
	margin-bottom: 4px;
}

.page-a-down P {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 146.187%;
	/* 26.314px */
	margin-bottom: 45px;
}



/* =========================page-b===welcome-whitecollar====================================== */
.page-b {

}
.page-b-conteiner {
	max-width: 1094px;
	margin: 0 auto;
	padding: 151px 350px 40px 69px;
	border: 1px solid red;
}
.block-welcome-whitecollar > *:last-child {
	/* якщо Анжела вирішить змінити контент */
	margin-bottom: 0;
}
.page-b-top {
	margin-bottom: 48px;
}
.page-b-top h5::before {
	width: 12px;
	height: 12px;
	background-color: #40DDB6;
	content: "";
	display: inline-block;	
	margin-right: 6px;
}
.page-b-top h5 {
	color: #37393F;
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 16px;
}
.page-b-top h1 {
	max-width: 414px;
	color: #37393F;
	font-family: 'Poppins';
	font-size: 40px;
	font-weight: 700;
	line-height: 121%; /* 48.4px */
	margin-bottom: 10px;
}
.page-b-text >*:not(:last-child) {
	margin-bottom: 16px;
}
.page-b-text {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
}

/* ---cards--- */
.page-b-cards {
	margin-bottom: 48px;
}
.page-b-card > *:not(:last-child) {
	margin-bottom: 31px;
}
.page-b-card {
	padding: 28px 41px 28px 84px;	
	border: 1px solid #E3E3E3;
}
.page-b-card::before {
	background: url(img-2/marker01.png);
	background-repeat: no-repeat;
	background-position: top left;
	width: 27px;
	height: 27px;
	content: "";
	display: inline-block;
	margin-left: -29px;
}
.page-b-card h3 {
	color: #37393F;
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
    vertical-align: top;
	display: inline-block;
}
.page-b-card-title {
	color: #7D7D7D;
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 400;
	line-height: 146.187%; /* 26.314px */
	display: inline-block;
}
.page-b-button {
	width: 200px;
	height: 65px;
	padding: 21px 35px 22px 35px;
	background-color: #6B77E5;
	/* якщо Анжела вирішить змінити контент */
	display: inline-block;	
	margin-bottom: 20px;
	/* якщо Анжела вирішить змінити контент */
}
.page-b-button a {
	color: #FFF;
	text-align: center;
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;


}


/* ===================page-c--We Develop Create========================= */
.page-c {
	max-width: 1420px;
	margin: 0 auto;
	padding: 80px 10px 80px 10px;
}
.block-we-develop {
}
.block-we-develop-left {
	display: inline-block;
}
.block-we-develop-left h2 {
	max-width: 488px;
	color: #000;
	font-family: 'Cormorant Infant';
	font-size: 60px;
	font-weight: 700;
	line-height: 115%; /* 69px */
}

.block-we-develop-right { /* block-right */
	display: inline-block;
	vertical-align: middle;
}
.foto-text { /* card */
	display: inline-block;
	font-size: 0;
	vertical-align: top;
	margin-right: 45px; /* відступ між img */
	max-width: 334px; /* ширина для картки */

}
.foto-text-img {	 /* foto */
	border: 1px solid #000;
	padding-top: 9px;	
	padding-left: 10px;
	margin-top: 32px;
	margin-bottom: 25px /* відступ вниз до text */
}
.foto-text-img img{	 /* foto -- img */
	width: 100%; /* ширина для фото */
	margin-right: -10px;		/* посунули фото від бордера */
	margin-bottom: -9px;        /* посунули фото від бордера */
	margin-left: 10px;		/* посунули фото від бордера */
	margin-top: 9px;        /* посунули фото від бордера */
}

.text-foto { /* card */
	display: inline-block;

}
.embossed {
	color: #000;
	font-family: 'Cormorant Infant';
	font-size: 24px;
	font-weight: 700;
	line-height: 140%; /* 33.6px */
}
.price {
	color: #000;
	font-family: 'Cormorant Infant';
	font-size: 24px;
	font-weight: 700;
	line-height: 140%; /* 33.6px */
}
.number {
	color: #000;
	font-family: 'Cormorant Infant';
	font-size: 46px;
	font-weight: 700;
	line-height: 113%; /* 51.98px */
}
.title {
	width: 339px;
	color: #000;
	font-family: 'Cormorant Infant';
	font-size: 46px;
	font-weight: 700;
	line-height: 113%; /* 51.98px */
	margin-bottom: 40px;
}